# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\personLearning\spring\md\javaweb笔记资料\16-JSON和Ajax请求\代码\16_json_ajax_i18n\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
